.top-image {
    width: 3cm;
    height: 2cm;
}

h2 {
    margin: 0;
}

.wwo {
    text-align: center;
    margin-top: 2cm;
}

.arrow {
    height: 10cm;
    width: 10cm;
    display: block;
    justify-content: center;
    margin: 0 auto;
}

.what {
    background-color: transparent;
}

.wwdtext {
    margin: 2cm;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

.container2 {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;    
}

.why1 {
    background-color: white;
}

.who1 {
    background-color: #0092CE;
}

.why2 {
    background-color: #013D7B;
}